<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">

<div>
  <h4 id="siteName">Daily Song!</h4>
  <button id="homebutton" size="giant" nbButton outline status="warning" [routerLink]="'/'">Home</button>
</div>

<div id="iframe-container">
  <iframe width="560" height="315" [src]="youtubeURl(webUrl)" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>

<div id="songinfo">
  <h1>Title - {{ title }}</h1>
  <h1>Artist - {{ artist }}</h1>
  <h1>Year - {{ year }}</h1>
</div>
