
  <div>
    <button nbButton outline status="warning" [routerLink]="'/home'">Home</button>
    <ul>
      <li>
        <h1>Your Song</h1>
        <!-- title artist year web url !-->
        <h2>Title: {{ null }} </h2>
        <h2>Artist: {{ null }}</h2>
        <h2>Year: {{ null }}</h2>
      </li>
      <li id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
    </ul>
  </div>
