#siteName{
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
}

#homebutton{
  margin: 0.5rem;
  font-size: 1.5rem !important;
  width: 11%;
}

#songinfo h1{
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

#iframe-container{
  position: relative;
}

#iframe-container iframe{
  position: absolute;
  left: 47%;
}
