<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

<h4 id="siteName">
  Daily Song!
</h4>

<div id="buttonGrid">
  <div *ngFor="let songRowType of allSongRows">
    <span *ngFor="let song of songRowType" class="buttonRowContainer">
      <button *ngIf="songRowType === genreRow" class="buttonRowItem" size="giant" nbButton outline status="success" (click)="generateClicked(song)">{{ song }}</button>
      <button *ngIf="songRowType === yearRow" class="buttonRowItem" size="giant" nbButton outline status="info" (click)="generateClicked(song)">{{ song }}</button>
      <button *ngIf="songRowType === moodRow" class="buttonRowItem" size="giant" nbButton outline status="danger" (click)="generateClicked(song)">{{ song }}</button>
      <button *ngIf="songRowType === movementRow" class="buttonRowItem" size="giant" nbButton outline status="warning" (click)="generateClicked(song)">{{ song }}</button>
      <button *ngIf="songRowType === weatherRow" class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked(song)">{{ song }}</button>
      <button *ngIf="songRowType === mealRow" class="buttonRowItem" size="giant" nbButton outline status="basic" (click)="generateClicked(song)">{{ song }}</button>
    </span>
  </div>
</div>
