<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

<h4 id="siteName">
  Daily Song!
</h4>

<div id="buttonGrid">
  <div class="buttonRowContainer">
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
  </div>
  <div class="buttonRowContainer">
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
  </div>
  <div class="buttonRowContainer">
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
  </div>
  <div class="buttonRowContainer">
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
  </div>
  <div class="buttonRowContainer">
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
  </div>
  <div class="buttonRowContainer">
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
    <button class="buttonRowItem" size="giant" nbButton outline status="primary" (click)="generateClicked()">Generate</button>
  </div>
</div>
